.idea/
PhoneGap/HelloWorld/www/.idea/
PhoneGap/HelloWorld/www/spec/

PhoneGap/RWD_Layout/www/res/
PhoneGap/RWD_Layout/www/spec/
PhoneGap/RWD_Layout/config.xml
PhoneGap/RWD_Layout/www/spec.html
PhoneGap/HelloWorld/www/.idea/workspace.xml